:root {
  --border-color: black;
  --shadow-color: gray;
  }
  
  /* Styles for the search form */
  #searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  }
  
  #searchInput {
  margin-right: 10px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 16px;
  }
  
  #searchBtn {
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  }
  
  #searchBtn:hover {
  background-color: #3e8e41;
  }
  
  /* Styles for the portrait card */
  .portrait-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  transition: transform 0.2s ease-in-out;
  max-width: 400px;
  }
  
  .portrait-card:hover {
  transform: scale(1.05);
  }
  
  .portrait-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
  }
  
  .portrait-card h2 {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  }
  
  .portrait-card p {
  font-size: 16px;
  line-height: 1.4;
  margin: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  font-weight: bold;
  }
  
  .portrait-card p.hidden {
  max-height: none;
  }
  
  .like-btn {
  margin-top: 10px;
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  }
  
  .like-btn:hover {
  background-color: #3e8e41;
  }
  
  .like-btn:disabled {
  background-color: lightgray;
  cursor: not-allowed;
  }
  
  .portrait-card button.like-btn {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  display: flex;
  margin: 10px auto;
  padding: 5px 10px;
  transition: background-color 0.3s ease-out;
  width: 80px;
  }
  
  .portrait-card button.like-btn:hover,
  .portrait-card button.like-btn:active {
  background-color: #333;
  color: #fff;
  }
  
  /* Styles for the list of titles */
  #NASA {
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
  #NASA li {
  font-size: 18px;
  margin-bottom: 10px;
  }
  
  /* Styles for the search form */
  #searchForm {
  margin:0;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0px 2px 4px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  #searchForm h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  }
  
  #searchForm input[type="text"] {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
  max-width: 600px;
  }
  
  #searchForm button[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  max-width: 600px;
  transition: background-color 0.3s ease-out;
  }
  
  #searchForm button[type="submit"]:hover {
  background-color: #3e8e41;
  }